<div>
    Target classes
<!--    <table>-->
<!--        <tbody>-->
<!--        <tr v-for="(tagMeta, index) in state.tagsInfo">-->
<!--            <td>-->
<!--                <el-checkbox class="small" v-model="state.tags[index]"></el-checkbox>-->
<!--            </td>-->
<!--            <td><i class="zmdi zmdi-label ml5 mr5" :style="{color: tagMeta.color}"></i></td>-->
<!--            <td><b style="color: #777777">{{tagMeta.name}}</b></td>-->
<!--            <td><span class="ml5">{{tagMeta['value_type']}}</span></td>-->
<!--        </tr>-->
<!--        </tbody>-->
<!--    </table>-->
</div>