<div>
    <div><b>Mode: </b>{{data.mode}}</div>
    <div><b>Target classes:</b></div>
    <table>
        <tbody>
        <tr v-for="(objClass, index) in state.classesInfo">
            <td><i class="zmdi zmdi-circle ml5 mr5" :style="{color: objClass.color}"></i></td>
            <td><b style="color: #777777">{{objClass.title}}</b></td>
            <td><span class="ml5">{{objClass.shape}}</span></td>
        </tr>
        </tbody>
    </table>
    <div class="mt10" v-if="data.progressName1" v-show="state.loading">
        <div>{{ data.progressName1 }}: {{ data.currentProgressLabel1 }} / {{ data.totalProgressLabel1 }}
        </div>
        <el-progress
                :percentage="Math.round(data.currentProgress1 * 100 / data.totalProgress1)"></el-progress>
    </div>
</div>