<div id="ilastik">
    <sly-style>
        #ilastik .el-tabs.el-tabs-cards .el-radio {
        display: flex;
        align-items: start;
        /*margin-bottom: 10px;*/
        margin-left: 0;
        white-space: normal;
        }

        #ilastik .el-tabs.el-tabs-cards .el-radio__label div {
        color: #7f858e;
        font-size: 13px;
        }

        .beautiful-table { border-collapse: collapse; }
        .beautiful-table tr:nth-child(2n) { background-color: #f6f8fa; }
        .beautiful-table td, .beautiful-table th {
        border: 1px solid #dfe2e5;
        padding: 6px 13px;
        text-align: center;
        line-height: 20px;
        }

        #ilastik .el-tabs.el-tabs-cards { border-radius: 4px; box-shadow: none; }
        #ilastik .el-tabs.el-tabs-cards .el-tabs__header { background-color: #f6fafd; }
        #ilastik .el-tabs.el-tabs-cards .el-tabs__nav { float: none; display: flex; justify-content:
        space-between; }
        #ilastik .el-tabs.el-tabs-cards .el-tabs__item { flex: 1; margin-bottom: -3px; padding: 9px 16px 13px;
        height: auto; line-height: normal; border-radius: 4px; }
    </sly-style>

    <el-tabs type="border-card" class="el-tabs-cards" v-model="state.projectModeOptions">
        <el-tab-pane name="newProject">
            <el-radio slot="label" v-model="state.projectModeOptions" label="newProject">
                New ilastik project
            </el-radio>
            <sly-select-class :project-id="state.projectId"
                              :classes.sync="state.classes"
                              :options="{multiple: true; showLabel: false}">
            </sly-select-class>
        </el-tab-pane>
        <el-tab-pane name="openProject">
            <el-radio slot="label" v-model="state.projectModeOptions" label="openProject">
                Existing ilastik project
            </el-radio>
            <sly-field title="Path to existing project" description="Path to ilastik project in Team Files">
                <el-input v-model="state.classifierPath"
                          placeholder="Path to folder containing .ilp file in Team Files"></el-input>
            </sly-field>
        </el-tab-pane>
    </el-tabs>
</div>